// --- Main palette
$primary: #295E6A;
$primaryHover: #59A1B1;
$back: white;
$title: #151C1C;
$teal: #153C44;
$cyan: #C2FAF1;
$hero: #DBF1FE;
$border: #EAEDEF;
$subText: #CED4DA;
$orange: #FAAB78;
$yellow: #FFE162;